*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--dark-color);
	color: var(--light-color);
}

:root {
	font-family:
		"Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;

	--dark-color: #222;
	--light-color: #f0f0f0;
	--red-color: rgb(244, 38, 38);
}

h1,
h2,
h3 {
	text-align: center;
	margin-block: 1rem;
}

h4 {
	text-align: center;
	font-weight: 300;
	font-size: larger;
	color: gray;
	font-style: italic;
}
h4 > span {
	font-style: normal;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	list-style: none;
	margin-inline: auto;
}

.main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-inline: auto;
	padding-inline: 2rem;
	gap: 2rem;
	max-width: 96rem;
}

.products-column {
	max-width: fit-content;
	margin-inline: auto;
}

.grocery-item > div {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 2fr 1fr;
	gap: 0.5rem;

	button {
		width: 1.25rem;
		height: 1.25rem;
		font-size: large;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1.25rem;
		border: 1px solid var(--red-color);
		cursor: pointer;
		color: var(--red-color);
		transition: all 300ms;
		&:hover {
			background-color: var(--red-color);
			color: white;
		}
	}
}

.grocery-item > div > span:nth-child(n + 2) {
	text-align: end;
}

.bold {
	font-weight: bold;
}

.search {
	margin-inline: auto;
	display: block;
	padding: 0.25rem 0.5rem;
	width: 100%;
	margin-bottom: 1rem;
}

li > div {
	border-bottom: 1px solid var(--light-color);
	gap: 1rem;
	padding-bottom: 0.25rem;
}

li:last-of-type > div {
	border-bottom: none;
}

.product-item > div {
	display: grid;
	grid-template-columns: 4fr 1fr 1fr 1fr;
	align-items: center;

	button {
		padding: 0.25rem;
		cursor: pointer;
	}

	> span:nth-child(2) {
		text-align: end;
	}
}

input {
	min-width: 0;
}
