*,
::before,
::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Button and input style reset */
button,
input {
	background: none;
	outline: none;
	border: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.25s;
	&:hover {
		scale: 120%;
	}
}

:root {
	--bg-color: #202020;
	--stripe-pattern: repeating-linear-gradient(
		45deg,
		gray,
		gray 50px,
		gainsboro 50px,
		gainsboro 100px
	);

	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes background-slide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

body {
	background-color: var(--bg-color);
	color: white;
}

header {
	height: 200px;
	background: var(--stripe-pattern);
	background-size: 200%;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: background-slide linear 20s infinite paused;

	&:hover {
		animation-play-state: running;
	}

	position: relative;
}

header::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to bottom, transparent 80%, var(--bg-color));
}

h1 {
	font-size: 5rem;
	color: var(--bg-color);
	text-shadow:
		0 0 2px gainsboro,
		0 0 5px gainsboro,
		0 0 10px gainsboro;
}

nav {
	padding-block: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	button {
		font-size: large;
		color: gainsboro;
	}
}

footer {
	background-color: #dcdcdc;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #202020;
	padding-block: 1rem;
}

.btn {
	cursor: pointer;
}

.hidden {
	display: none !important;
}

.info-btns {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin: 2rem;
}

.info-btn {
	padding: 1rem 2rem;
	border: 1px solid gainsboro;
	border-radius: 1rem;
	width: 15rem;
	text-align: center;
	font-size: xx-large;
	font-weight: 500;
	transition: all 0.25s;

	&:hover {
		box-shadow: 0 0 5px white;
	}

	&[data-selected="true"] {
		box-shadow: 0 0 10px white;
	}
}

.info {
	max-width: 48rem;
	margin-inline: auto;
	border: 1px solid gainsboro;
	padding: 2rem;
	border-radius: 0.25rem;
}

.info-form {
	display: flex;
	justify-content: center;
	gap: 2rem;

	margin-top: 2rem;

	input {
		padding: 1rem 2rem;
		font-size: large;
		background-color: white;
		border-radius: 0.25rem;
	}

	button {
		font-size: large;
		color: white;
		padding: 1rem 2rem;
		text-transform: uppercase;
		font-weight: 700;
		border: 1px solid gainsboro;
		border-radius: 0.25rem;
	}
}

select[name="head-color-select"] {
	position: absolute;
	z-index: 10;
	top: 0.5rem;
	left: 0.5rem;
	padding: 0.5rem;
	background: none;
	border: none;
	outline: none;
}

.redText {
	color: rgb(200, 0, 0);
}

.blueText {
	color: rgb(32, 32, 166);
}

.greenText {
	color: rgb(29, 131, 29);
}
